# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\eCources - Downloaded\100 Days of Code\70. Day 70 - Advanced - Deploying Your Web Application with Digital Ocean\blog-with-users-end\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
